name: Deploy to S3 using GitHub Actions
 
on:


  push:


    branches:


      - main   # change if your branch is different
 
jobs:


  deploy:


    runs-on: ubuntu-latest
 
    steps:


      - name: Checkout code


        uses: actions/checkout@v4
 
      - name: Configure AWS credentials


        uses: aws-actions/configure-aws-credentials@v4


        with:


          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}


          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}


          aws-region: ap-south-1
 
      - name: Sync repository to S3


        run: |


          aws s3 sync . s3://amzn-git-bucket \


            --delete \


            --exclude ".git/*" \


            --exclude ".github/*"
